<div class="mainContainer">
    <div class="titles">
        <h1>Bienvenid@ a la Tienda</h1>
        <h2>Elige a donde quieres ir:</h2>
        <div class="navButtons">
            <a href="/products" class="href">Ver Productos</a>
            <a href="/carts" class="href">Ver Carritos</a>
            <a href="/chat" class="href">Ir al Chat</a>
            {{!-- <a href="/realTime" class="href">Ir a Catálogo En Vivo (Realtime!)</a> --}}
        </div>
      
    </div>
</div>

